node_modules/ 
.env 
node_modules/  echo .env 

# Virtual environment
venv/
env/
.venv/
/backend/venv/

echo backend/config/tasksphere-5a0ea-firebase-adminsdk-cl0o6-530598abd7.json >> .gitignore
echo backend/config/skilled-nation-404607-db50d00d6ee8.json >> .gitignore


# Python cache files
__pycache__/
*.py[cod]

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Google API
google-services.json
GoogleService-Info.plist
credentials.json
token.json

# Firebase
firebase.json
.firebaserc
firebase-debug.log
database-debug.log
firebase-debug.*.log
