Django==4.2.5
djangorestframework==3.14.0
django-cors-headers==4.0.0
django-allauth dj-rest-auth
djoser==2.1.0
djangorestframework-simplejwt==5.2.2
python-jose==3.3.0
psycopg2==2.9.7
django-redis==5.3.1
sqlalchemy==2.0.20
aiosmtplib==1.2.1
Pillow==10.0.0
passlib[bcrypt]==1.7.4
celery==5.3.1
redis==5.0.0
flake8==6.0.0
black==23.3.0
pytest==7.4.0
drf-yasg==1.21.6
django-allauth
requests
cryptography
six
dj-rest-auth
openai 
spacy  
transformers 
scikit-learn 
scipy 
networkx 
numpy 
pandas
firebase-admin
psycopg
twisted[tls,http2]




pip install django-allauth dj-rest-auth django-cors-headers

pip install django djangorestframework django-cors-headers twilio


